<h2 mat-dialog-title>Create Employee</h2>
<mat-dialog-content>
  <form
    [formGroup]="createEmployeeForm"
    class="form-container"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error
        *ngIf="
          createEmployeeForm.get('firstName')?.hasError('required') &&
          createEmployeeForm.get('firstName')?.touched
        "
      >
        First Name is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error
        *ngIf="
          createEmployeeForm.get('lastName')?.hasError('required') &&
          createEmployeeForm.get('lastName')?.touched
        "
      >
        Last Name is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Birth Date</mat-label>
      <input matInput formControlName="birthDate" type="date" />
      <mat-error
        *ngIf="
          createEmployeeForm.get('birthDate')?.hasError('required') &&
          createEmployeeForm.get('birthDate')?.touched
        "
      >
        Birth Date is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
      <mat-error
        *ngIf="
          createEmployeeForm.get('phone')?.hasError('required') &&
          createEmployeeForm.get('phone')?.touched
        "
      >
        Phone is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Office</mat-label>
      <mat-select formControlName="officeId">
        <mat-option *ngFor="let office of offices" [value]="office.id">
          {{ office.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-select formControlName="tags" multiple>
        <mat-option *ngFor="let tag of tags" [value]="tag.name">
          {{ tag.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="buttons-container">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
</mat-dialog-actions>
