<div class="employees-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Employees</mat-card-title>
      <button
        class="create-button"
        mat-raised-button
        color="primary"
        (click)="openCreateDialog()"
      >
        Create employee
      </button>
    </mat-card-header>
    <mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="onSortChange($event)"
    >
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          First Name
        </mat-header-cell>
        <mat-cell *matCellDef="let employee">
          {{ employee.firstName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Last Name
        </mat-header-cell>
        <mat-cell *matCellDef="let employee">
          {{ employee.lastName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Birth Date
        </mat-header-cell>
        <mat-cell *matCellDef="let employee">
          {{ employee.birthDate | date }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>
          Phone
        </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{ employee.phone }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="office">
        <mat-header-cell *matHeaderCellDef> Office </mat-header-cell>
        <mat-cell *matCellDef="let employee">
          {{ employee.office.name }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: columns"
        (click)="openEditDialog(row)"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [length]="total"
      [pageSize]="limit"
      [pageIndex]="page - 1"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </mat-card>
</div>
